@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.right-eye{
	animation: eye-slide 2s linear infinite alternate;
}

.left-eye{
	animation: eye-slide 2s linear infinite alternate;
}

@keyframes eye-slide {

  from { transform: translate(0px, 0); }

  to { transform: translate(10px, 0); }
}
